h2 {
	color: 	#d6d6d6;
}

h4 {
	margin-top: 2rem;
	color: #93979e;
	padding-bottom: 1%;
}

.center {
	display: block;
	margin: 0 auto;
	margin-top: 1rem;
}

.subContainer {
	margin: 0 auto;
}

.subContainer tr td label {
	display: block;
	padding: 10px;
}

.btn:hover {
	cursor: pointer;
}

.output {
	margin: 0;
	margin: 2rem 0 0 33.5%;
	padding: 10px 250px 100px 10px;
}