h2 {
	color: 	#d6d6d6;
}

h4 {
	margin-top: 2rem;
	color: #93979e;
	padding-bottom: 1%;
}

.center {
	display: block;
	margin: 0 auto;
	margin-top: 1rem;
}

.subContainer {
	margin: 0 auto;
}

.subContainer tr td label {
	display: block;
	padding: 10px;
}

.btn {
	margin-bottom: 1.6rem;
}

.btn:hover {
	cursor: pointer;
}

.output {
	width: 400px;
	height: 200px;
	padding: 10px;
	margin: 0 auto;
	border: 1px solid #bab8b8;
	background-color: #f7f7f7;
	text-align: center;
}

.result {
	font-size: 10rem;
}

.about {
	width: 100%;
	padding-left: 10%;
	background-color: black;
	min-height: 100px;
	color: white;
	margin-top: 30px;
	margin-bottom: 0px;
}

.jumbotron {
	background-color: transparent;
	padding-top: 10px;
	margin-bottom: 0px;
}

